<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.UserMapper">

    <select id="findByUsernameAndPassword" resultType="User">
        SELECT * FROM users WHERE username = #{username} AND password = #{password} AND status = 1
    </select>

    <select id="findById" resultType="User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <update id="updateBalance">
        UPDATE users SET balance = balance + #{amount} WHERE id = #{userId}
    </update>

</mapper>
